node_modules
.cache
dist
build
.vscode
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
bun.lock
.env
.env.*
.vercel
.netlify
.next
coverage
*.tsbuildinfo
.react-router/
